/* styles.css */

body {
    background-image: url('../img/sub_page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* 검색어를 입력하세요 */
  .search-container1 {
    height: 40px;
    width: 690px;
    top: 42px;
    margin-left: 456px;
    margin-top: 35px;
    position: flex;
    font-size: 25px;
    border: none;
    outline: none; /* 포커스 테두리 제거 */
  }
  
  .search-container button {
    display: inline-block;
    background-color: transparent; /* 배경색을 투명으로 설정transparent */
    border: none; /* 테두리 없애기 */
    padding: 10px 20px;
    height: 48px;
    width: 90px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* 영상 6개 */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 480px); /* 3개의 열을 각각 480px 너비로 생성 */
    grid-template-rows: repeat(2, 380px); /* 2개의 행을 각각 380px 높이로 생성 */
    grid-column-gap: 30px; /* 열 사이의 간격을 30px 설정 */
    grid-row-gap: 30px; /* 행 사이의 간격을 30px로 설정 */
    transform: translate(140px, 55px); /* 전체 그리드를 오른쪽으로 140px, 아래로 55px 이동 */
}

.grid-item {
    background-color: transparent; /* 투명한 배경 색상 */
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
}

/* 홈버튼 */
#home-box {
  width: 200px; /* 가로 크기를 200px 변경 */
  height: 40px; /* 세로 크기를 40px 변경 */
  position: absolute;
  top: 40px; /* 상단 위치 조정 (40px 변경) */
  left: 150px; /* 좌측 위치 조정 (150px 변경) */
  opacity: 0; /* 투명도를 0.2로 변경 (20% 투명) */
}