# # week02 무뇌한 data
week02_Pandas_무뇌한/data
week02_Pandas_무뇌한/__pycache__
week02_Pandas_무뇌한/.ipynb_checkpoints

# # week_02_Pandas_무뇌한 글꼴 파일
week02_Pandas_무뇌한/malgun.ttf

# week05_ml_소는누가키우나\data
week05_ml_소는누가키우나/data

# week04_공공데이터_SSF\img
week04_공공데이터_SSF/img

# week04_공공데이터_SSF\data
week04_공공데이터_SSF/data
week04_공공데이터_SSF/__pycache__

# week06_openCV_티니핑핑이
week06_openCV/layout_rawdata
week06_openCV/newImage(2)
week06_openCV/Maplestory Bold.ttf
week06_openCV/핑핑요구사항정의서.xlsx
week06_openCV/OpenCV.zip
week06_openCV/test_image


# week07_Dl_울고싶조
