# # week02 무뇌한 data
week02_Pandas_무뇌한/data
week02_Pandas_무뇌한/__pycache__
week02_Pandas_무뇌한/.ipynb_checkpoints

# # week_02_Pandas_무뇌한 글꼴 파일
week02_Pandas_무뇌한/malgun.ttf

# week06_ml_소는누가키우나\data
week06_ml_소는누가키우나/data

# week04_공공데이터_SSF\img
week04_공공데이터_SSF/img

# week04_공공데이터_SSF\data
week04_공공데이터_SSF/data
week04_공공데이터_SSF/__pycache__