<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/sub_page.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
</head>
<body> 
  <!-- 홈으로 -->
  <div><a href="/"><img id="home-box" src="../static/img/box.jpg"></a></div>

  <!-- 검색 기능 -->
    <div class="search-container">
        <form action="/search" method="POST">
            <input class="search-container1" type="text" name="search_query" placeholder="검색어를 입력하세요" >
            <button type="submit"></button>
        </form>
    </div>

    <!-- 서브컨텐츠 (영상이미지) -->
    <div class="grid-container">
        <div class="grid-item"  data-href="https://www.youtube.com/watch?v=HppnTT42efE"></div>
        <div class="grid-item" data-href="/link_page?type=2"></div>
        <div class="grid-item"  data-href="/link_page?type=1"></div>
        <div class="grid-item" data-href="/link_page?type=3"></div>
        <div class="grid-item" data-href="https://www.youtube.com/watch?v=wyhwJnNpVJI"></div>
        <div class="grid-item" data-href='https://www.youtube.com/watch?v=K80REB8CKlw'></div>
    </div>
</body>
<!-- 자바스크립트 부분 챗지피티에서 받아옴 -->
 <script>   
     document.addEventListener("DOMContentLoaded", function() {
           var gridItems = document.querySelectorAll(".grid-item");
         
           gridItems.forEach(function(item) {
            item.addEventListener("click", function() {
              var link = item.getAttribute("data-href");
               if (link) {
                 window.location.href = link;
               }
             });
           });
         });
     </script>

</html>





